/storage/app/public/*
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/build/*
node_modules
Dockerfile
tests
docker
*/.gitignore
composer.lock
phpunit.xml
jsconfig.json
ledningssystemet.json
*.logs
playwright.config.ts
playwright-report
.*
!.env.example
tsconfig.json
test-results
doc
