APP_KEY=base64:KMrXJ0q9n09wtF2mmeau85rZXcZnzWRIAdkGNSaqIwc= # Note, this is a dummy key, you should generate your own key using `php artisan key:generate`
APP_ENV=production
APP_DEBUG=false
APP_URL=https://<your-domain>.com
APP_LOCALE=sv # en or sv according to preferences

DB_HOST=host.docker.internal # Set your database host here
DB_DATABASE=ledningssystemet_opensource # Set your database name here
DB_USERNAME=ledningssystemet # Set your database username here
DB_PASSWORD=ledningssystemet # Set your database password here

# Example of how to configure Microsoft 365 OAuth2 login. You can generate your own client ID and secret by registering an application in Azure AD.
#OAUTH_BUTTON_TEXT="Microsoft 365 Login"
#OAUTH_CLIENTID="<client id>>"
#OAUTH_SCOPE="openid,email,offline_access"
#OAUTH_SECRET="<client secret>"
#OAUTH_SERVER_AUTHORIZE_URL="https://login.microsoftonline.com/<application id>/oauth2/v2.0/authorize""
#OAUTH_SERVER_TOKEN_URL="https://login.microsoftonline.com/<application id>/oauth2/v2.0/token"
