/storage/*.key
/.env
/.rnd
/.env.backup
/.phpunit.result.cache
*.log
/public/build
/public/hot
/public/storage
/vendor
node_modules
package-lock.json
composer.lock
*.sqlite
.vs
.phpunit.cache
.idea
/package-lock.json
/doc
/importdata
