/storage/*.key
/.env
/.rnd
/.env.backup
/.phpunit.result.cache
/npm-debug.log
/yarn-error.log
/.idea
/.vscode
/public/build
/public/hot
/public/storage
/resources/brand
/vendor
node_modules
package-lock.json
composer.lock
.vs
.phpunit.cache
.idea
/package-lock.json
/.junie/
sql-ca.pem
